
.nav-item{
  border-radius: 5px;
}
.nav-item:hover{
  background-color: #007bff;
  color: white;
}
.blueicon{
  transition: transform .2s;
}
.blueicon:hover{
  color: #007bff;
  transform: scale(1.1);
}
#bottomBar{
    position: fixed;
    bottom: 0;
    right: 0;
}
.faderow{
  background: linear-gradient(to right, rgba(0,123,255,1), rgba(0,123,255,0));
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px black;
}
.hovergray:hover{
  background: linear-gradient(to right, rgba(108,117,125,1), rgba(108,117,125,0));
}
.jumbotron{
  box-shadow: 1px 1px 5px black;
  /* background-image: url(wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat; */
}
.mycomponent{
  box-shadow: 1px 1px 5px black;
}
#contact{
  padding: 10px;
}
.nav-link:hover{
  color: white;
}
.bg-transdark{
  background-color: rgba(0, 0, 0, 0.0);
}
a{
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}
.navbar-brand{
  text-align: center;
}
.reactlogo {
  animation: App-logo-spin infinite 20s linear;
  color: #00d8ff;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
