#contacts{
  display: inline;
}
.myBlueBack{
  background-color: rgb(0, 32, 96);
}
.myBlue{
  color: rgb(0, 32, 96);
}
.nav-item{
  border-radius: 5px;
}
.nav-item:hover{
  background-color: rgb(0, 32, 96);
  color: white;
}
#bottomBar{
    position: fixed;
    bottom: 0;
    right: 0;
}
.jumbotron{
  box-shadow: 1px 1px 5px black;
}
.mainjumbo{
  background-image: url(code.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mycomponent{
  box-shadow: 1px 1px 5px black;
}
#contact{
  padding: 10px;
}
.nav-item{
  transition: all 0.3s;
}
.nav-item:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 5px black;
}
.nav-link:hover{
  color: white;
}
.bg-transdark{
  background-color: rgba(0, 0, 0, 0.0);
}
a{
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}
.navbar-brand{
  text-align: center;
}
.reactlogo {
  animation: App-logo-spin infinite 20s linear;
  color: rgb(0, 32, 96);
  text-shadow: 0px 0px 5px white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card{
  border-color: black;
}
.portfolioImage{
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}
.portfolioRow{
  transition: all 0.3s;
}
.portfolioRow:hover{
  transform: scale(1.03);
}
.landingIcons{
  vertical-align: middle;
  text-align: left;
  font-size: 2.0em;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.5s;
  display: block;
}
.landingIcons:hover {
  background-color: rgb(0, 32, 96);
  transform: scale(1.03);
}
.buttonz{
  box-shadow: 1px 1px 5px black;
  background-color: rgb(0, 32, 96);
}
#profilePic{
  width: 250px;
  height: auto;
  object-fit: contain;
  border-radius: 125px;
  box-shadow: 1px 1px 5px black;
}
.linkLink:hover{
  background-color: rgb(0, 32, 96);
  transform: scale(1.03);
}
.linkLink{
  border-radius: 5px;
  transition: all 0.3s;
  padding: 10px;
  box-shadow: 1px 1px 5px black;
  margin: auto;
  vertical-align: middle;
}
.rightSide{
  text-align: left;
  margin: auto;
  vertical-align: middle;
}
#profileRight{
  text-align: left;
}
