.nav-item{
  border-radius: 5px;
}
.nav-item:hover{
  background-color: #007bff;
  color: white;
}
.blueicon{
  transition: all .2s;
}
.blueicon:hover{
  color: #007bff;
  transform: scale(1.1);
}
#bottomBar{
    position: fixed;
    bottom: 0;
    right: 0;
}
.jumbotron{
  box-shadow: 1px 1px 5px black;
  /* background-image: url(wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat; */
}
.mycomponent{
  box-shadow: 1px 1px 5px black;
}
#contact{
  padding: 10px;
}
.nav-item{
  transition: all 0.3s;
}
.nav-item:hover{
  transform: scale(1.1);
}
.nav-link:hover{
  color: white;
}
.bg-transdark{
  background-color: rgba(0, 0, 0, 0.0);
}
a{
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}
.navbar-brand{
  text-align: center;
}
.reactlogo {
  animation: App-logo-spin infinite 20s linear;
  color: #00d8ff;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card{
  border-color: black;
}
.portfolioImage{
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}
.portfolioRow{
  transition: all 0.3s;
}
.portfolioRow:hover{
  transform: scale(1.03);
}
