body, html{
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Inconsolata', monospace;
  background: linear-gradient(to bottom, #343a40, #262626);
  color: white;
  text-shadow: 1px 1px 5px black;
}
